<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749213231602-snrnqsjdahf9t6faijk6i3g6s02fojuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749213231602-snrnqsjdahf9t6faijk6i3g6s02fojuu</string>
	<key>API_KEY</key>
	<string>AIzaSyDhFoPz6JR0UjBjGf6rsk7L-rYy_v5XNSo</string>
	<key>GCM_SENDER_ID</key>
	<string>749213231602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartdream</string>
	<key>PROJECT_ID</key>
	<string>smartdreamprueba-857e3</string>
	<key>STORAGE_BUCKET</key>
	<string>smartdreamprueba-857e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749213231602:ios:62a82a97809d9c0cdc236b</string>
</dict>
</plist>